{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<title>{% block title %}{{ title | default('@debemdeboas') }}{% endblock %}</title>
<link rel="apple-touch-icon" sizes="180x180" href="static/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16x16.png">
<link rel="manifest" href="static/icon/site.webmanifest">
{% endblock %}
{% block html_atrib %}lang="en"{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}